---
import Article from '../../components/Article.astro'
import Content from '../../layouts/Content.astro'
import Header from '../../components/Header.astro'
import Heading from '../../components/Heading.astro'
import Layout from '../../layouts/Layout.astro'
import Prose from '../../components/Prose.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Text from '../../components/Text.astro'
import Link from '../../components/Link.astro'
---

<Layout title="Stellar en Español - IDE">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="✏️ Visual studio code"
        />
        <Prose>
          <Text>
            Visual studio code es el editor por excelencia para los desarrollos
            de contratos y programación en general
          </Text>
          <Heading level={4} text="Descarga del VS code" />
          <Text>
            Vamoa a la <Link href="https://code.visualstudio.com/">
              pagina oficial de Visual studio code
            </Link> para descargar la version mas reciente
          </Text>

          <Heading level={4} text="Instalación de plugins útiles" />
          <Link href="https://rust-analyzer.github.io/">
            <img
              src="https://soroban-en-espanol.gitbook.io/~gitbook/image?url=https%3A%2F%2F4030095675-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FtbyfkjBGlvJb3cEGvvm8%252Fuploads%252Fj4gz57tmOAB6PPCA8eH6%252Fimage.png%3Falt%3Dmedia%26token%3D2246fb6b-1217-446a-ad26-337786263b5f&width=768&dpr=1&quality=100&sign=d532092b&sv=2"
              alt="plugins"
            />
          </Link>
          <Link href="https://github.com/dustypomerleau/rust-syntax">
            <img
              src="https://soroban-en-espanol.gitbook.io/~gitbook/image?url=https%3A%2F%2F4030095675-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FtbyfkjBGlvJb3cEGvvm8%252Fuploads%252FgpYgQ0aNoMStahzVfrdF%252Fimage.png%3Falt%3Dmedia%26token%3D903c07bc-8dce-4ac0-aa5d-00a7fdd966a9&width=768&dpr=1&quality=100&sign=ebb05a45&sv=2"
              alt="plugins"
            />
          </Link>
        </Prose>
      </Article>
    </section>
  </Content>
</Layout>
