---
import {
  basicUsageCode,
  customStylesCode,
  customVariablesCode,
  disabledCode,
  iconOnlyCode,
  importCode,
  sizesCode,
  tableHead,
  tableRows,
  variantsCode,
  withIconCode,
} from '../../data/button.ts'
import { Button as ButtonAc, Tab, TabItem } from 'free-astro-components'
import Article from '../../components/Article.astro'
import CodeBlock from '../../components/CodeBlock.astro'
import Content from '../../layouts/Content.astro'
import Header from '../../components/Header.astro'
import Heading from '../../components/Heading.astro'
import Layout from '../../layouts/Layout.astro'
import List from '../../components/List.astro'
import ListItem from '../../components/ListItem.astro'
import Preview from '../../components/Preview.astro'
import Prose from '../../components/Prose.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Text from '../../components/Text.astro'
import Table from '../../components/Table.astro'
import Link from '../../components/Link.astro'
import { Node } from '../../data/node-js.ts'
---

<Layout title="Stellar en Espa침ol - NODE JS">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="游깷 Node Js"
        />
        <Prose>
          <Text>
            <code>Node Js</code> es un entorno de ejecuci칩n de JavaScript basado
            en el motor V8 de Chrome, que permite desarrollar aplicaciones escalables
            del lado del servidor con un modelo as칤ncrono y no bloqueante. Utiliza
            un solo hilo con eventos para manejar m칰ltiples conexiones de manera
            eficiente, es altamente escalable y cuenta con un extenso ecosistema
            de paquetes a trav칠s de npm. Es ideal para APIs, microservicios, aplicaciones
            en tiempo real y servidores web.

            <Text
              >Para nosotros es relevante la instalaci칩n de nodejs para la
              interacci칩n web con los contratos de la red Stellar</Text
            >
          </Text>

          <Prose>
            <Heading level={4} text="Instalaci칩n" />
            <Text>
              Nos dirijimos a la <Link href="https://nodejs.org/es/download">
                p치gina oficial de NodeJs</Link
              > para ver la 칰ltima version LTS
            </Text>
            <Text>Abrimos la terminal y ejecutamos:</Text>
            <CodeBlock lang="astro" code={Node} />

            <Text>Est치 es la 칰ltima version el 15 de Marzo de 2025</Text>

            <Text>
              F치cil no? asi podemos instalar y gestionar varias versiones de
              Node js mucho m치s f치cil 游땕
            </Text>
          </Prose>

          <!-- <Tab tabs={[{ label: 'Preview', active: true }, { label: 'Code' }]}>
            <TabItem active>
              <Preview>
                <div class="flex items-center flex-wrap gap-4">
                  <ButtonAc label="Custom button" class="custom-button" />
                </div>
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="astro" code={customStylesCode} />
            </TabItem>
          </Tab> -->
        </Prose>
      </Article>
    </section>
  </Content>

  <style>
    .custom-button {
      --ac-btn-border-radius: 999px;
      --ac-btn-font-weight: 600;
      border-width: 0;
      background-image: linear-gradient(
        90deg,
        rgb(var(--ac-primary)) 0%,
        rgb(var(--ac-secondary)) 100%
      );
    }
  </style>
</Layout>
