---
import Header from '../../components/Header.astro'
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Content from '../../layouts/Content.astro'
import Article from '../../components/Article.astro'
import Prose from '../../components/Prose.astro'
import Heading from '../../components/Heading.astro'
import Text from '../../components/Text.astro'
import CodeBlock from '../../components/CodeBlock.astro'
import { Nea } from '../../data/nvm'
import Link from '../../components/Link.astro'
---

<Layout title="Stellar en Espa침ol - NVM">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="游뚥 NVM"
        />
        <Prose>
          <Text>
            NVM (Node Version Manager) es una herramienta que permite instalar,
            gestionar y cambiar entre m칰ltiples versiones de Node.js en un mismo
            sistema. Es 칰til para desarrolladores que trabajan en proyectos con
            diferentes versiones de Node.js, ya que facilita la instalaci칩n,
            actualizaci칩n y cambio de versiones sin afectar otras
            configuraciones del sistema. Funciona en macOS, Linux y, con
            herramientas adicionales, en Windows.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Instalaci칩n" />

          <Heading level={4} text="Mac y Linux" />
          <Text>
            Se ingresa a este link para ver las <Link
              href="https://github.com/nvm-sh/nvm?tab=readme-ov-file#installing-and-updating"
              >칰ltimas versiones
            </Link>
            <Text> Abrimos la termonal y ejecutamos lo siguiente: </Text>
            <CodeBlock lang="css" code={Nea} />

            <Heading level={4} text="Windows" />
            <Text>
              Nos dirigimos al siguiente <Link
                href="https://github.com/coreybutler/nvm-windows/releases"
              >
                link y bajamos la 칰ltima versi칩n
              </Link>
            </Text>
          </Text>
        </Prose>
      </Article>
    </section>
  </Content></Layout
>
